version: "3.8"

services:
  backend:
    container_name: Mower-Backend
    build:
      context: .
      dockerfile: ./app/Dockerfile
      target: development
    command: npm run start:dev
    env_file:
      - ./app/.env
    expose:
      - 8080
    ports:
      - 8080:8080
    volumes:
      - ./app:/usr/src/app
    depends_on:
      - db

  db:
    container_name: Mower-Database
    image: mysql:8
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=mower-db
